    
        <div class="c-bestsellers u-primarycolor--cap anim anim--up">
        	<div class="o-section o-section--paddingbottom">
            	<div class="o-wrap">
                	<header class="o-header">
                    	<h2 class="o-lead o-lead--first">Best sellers caps</h2>
                    	<h5 class="o-lead o-lead--fourth">Caps 32</h5>
                	</header>
    
                    <div class="glide js-bestsellers">
                        <div class="glide__track" data-glide-el="track">
            
                            <ul class="glide__slides">
                                <li class="glide__slide">
                                	<a href="product-details.html" class="o-box o-box--big">
                                	    <div class="picture">
                                	        <div class="o-sticker o-sticker--recommended">
                                    	        <i class="icon-heart"></i>
                                	        </div>
                                	        <img src=<%= require("./img/photos/products/600x600/cap-01.jpg") %> alt="" width="600" height="600">
                                	        
                                	        <div class="o-box__more bg-color">
                                        	    <p>see details</p>
                                    	    </div>
                                	    </div>
                                	    
                                	    <div class="o-box__row">
                                    	    <p class="name">Baseball Motors Racing Cap</p>
                                    	    <p class="category">Unisex lifestyle</p>
                                	    </div>
                    
                                	    <div class="o-box__row">
                                    	    <div>
                                        	    <p class="description">JB Grey - 8 colors</p>
                                    	    </div>
                                    	    <p class="price">
                                                <strike>32.99</strike>
                                        	    <span class="text-color">28.99</span> PLN
                                            </p>
                                	    </div>            	    
                                	</a>
                                </li>
                                
                                <li class="glide__slide">
                                	<a href="product-details.html" class="o-box o-box--big">
                                	    <div class="picture">
                                	        <div class="o-sticker o-sticker--recommended">
                                    	        <i class="icon-heart"></i>
                                	        </div>
                    
                                	        <img src=<%= require("./img/photos/products/600x600/cap-02.jpg") %> alt="" width="600" height="600">
                                	        
                                	        <div class="o-box__more bg-color">
                                        	    <p>see details</p>
                                    	    </div>
                                	    </div>
                                	    
                                	    <div class="o-box__row">
                                    	    <p class="name">Baseball Motors Racing Cap</p>
                                    	    <p class="category">Unisex lifestyle</p>
                                	    </div>
                    
                                	    <div class="o-box__row">
                                    	    <div>
                                        	    <p class="description">JB Grey - 8 colors</p>
                                        	    <div class="o-palette">
                                            	    <i style="background-color: #F88C00"></i>
                                            	    <i style="background-color: #D5A6BD"></i>
                                            	    <i style="background-color: #93C47D"></i>
                                            	    <i style="background-color: #134F5C"></i>
                                            	    <i style="background-color: #3D85C6"></i>
                                            	    <i style="background-color: #8E7CC3"></i>
                                        	    </div>
                                    	    </div>
                    
                                    	    <p class="price">
                                                <strike>32.99</strike>
                                        	    <span class="text-color">28.99</span> PLN
                                            </p>
                                	    </div>            	    
                                	</a>
                                </li>
                                	
                                <li class="glide__slide">
                                	<a href="product-details.html" class="o-box o-box--big">
                                	    <div class="picture">
                                	        <div class="o-sticker o-sticker--recommended">
                                    	        <i class="icon-heart"></i>
                                	        </div>
                                	        <img src=<%= require("./img/photos/products/600x600/cap-03.jpg") %> alt="" width="600" height="600">
                                	        
                                	        <div class="o-box__more bg-color">
                                        	    <p>see details</p>
                                    	    </div>
                                	    </div>
                                	    
                                	    <div class="o-box__row">
                                    	    <p class="name">Baseball Motors Racing Cap</p>
                                    	    <p class="category">Unisex lifestyle</p>
                                	    </div>
                    
                                	    <div class="o-box__row">
                                    	    <div>
                                        	    <p class="description">JB Grey - 8 colors</p>
                                    	    </div>
                                    	    <p class="price">
                                                <strike>32.99</strike>
                                        	    <span class="text-color">28.99</span> PLN
                                            </p>
                                	    </div>            	    
                                	</a>
                                </li>
                                
                                <li class="glide__slide">
                                	<a href="product-details.html" class="o-box o-box--big">
                                	    <div class="picture">
                                	        <div class="o-sticker o-sticker--recommended">
                                    	        <i class="icon-heart"></i>
                                	        </div>
                                	        <img src=<%= require("./img/photos/products/600x600/cap-01.jpg") %> alt="" width="600" height="600">
                                	        
                                	        <div class="o-box__more bg-color">
                                        	    <p>see details</p>
                                    	    </div>
                                	    </div>
                                	    
                                	    <div class="o-box__row">
                                    	    <p class="name">Baseball Motors Racing Cap</p>
                                    	    <p class="category">Unisex lifestyle</p>
                                	    </div>
                    
                                	    <div class="o-box__row">
                                    	    <div>
                                        	    <p class="description">JB Grey - 8 colors</p>
                                    	    </div>
                                    	    <p class="price">
                                                <strike>32.99</strike>
                                        	    <span class="text-color">28.99</span> PLN
                                            </p>
                                	    </div>            	    
                                	</a>
                                </li>
                                
                                <li class="glide__slide">
                                	<a href="product-details.html" class="o-box o-box--big">
                                	    <div class="picture">
                                	        <div class="o-sticker o-sticker--recommended">
                                    	        <i class="icon-heart"></i>
                                	        </div>
                    
                                	        <img src=<%= require("./img/photos/products/600x600/cap-02.jpg") %> alt="" width="600" height="600">
                                	        
                                	        <div class="o-box__more bg-color">
                                        	    <p>see details</p>
                                    	    </div>
                                	    </div>
                                	    
                                	    <div class="o-box__row">
                                    	    <p class="name">Baseball Motors Racing Cap</p>
                                    	    <p class="category">Unisex lifestyle</p>
                                	    </div>
                    
                                	    <div class="o-box__row">
                                    	    <div>
                                        	    <p class="description">JB Grey - 8 colors</p>
                                        	    <div class="o-palette">
                                            	    <i style="background-color: #F88C00"></i>
                                            	    <i style="background-color: #D5A6BD"></i>
                                            	    <i style="background-color: #93C47D"></i>
                                            	    <i style="background-color: #134F5C"></i>
                                            	    <i style="background-color: #3D85C6"></i>
                                            	    <i style="background-color: #8E7CC3"></i>
                                        	    </div>
                                    	    </div>
                    
                                    	    <p class="price">
                                                <strike>32.99</strike>
                                        	    <span class="text-color">28.99</span> PLN
                                            </p>
                                	    </div>            	    
                                	</a>
                                </li>
                                	
                                <li class="glide__slide">
                                	<a href="product-details.html" class="o-box o-box--big">
                                	    <div class="picture">
                                	        <div class="o-sticker o-sticker--recommended">
                                    	        <i class="icon-heart"></i>
                                	        </div>
                                	        <img src=<%= require("./img/photos/products/600x600/cap-03.jpg") %> alt="" width="600" height="600">
                                	        
                                	        <div class="o-box__more bg-color">
                                        	    <p>see details</p>
                                    	    </div>
                                	    </div>
                                	    
                                	    <div class="o-box__row">
                                    	    <p class="name">Baseball Motors Racing Cap</p>
                                    	    <p class="category">Unisex lifestyle</p>
                                	    </div>
                    
                                	    <div class="o-box__row">
                                    	    <div>
                                        	    <p class="description">JB Grey - 8 colors</p>
                                    	    </div>
                                    	    <p class="price">
                                                <strike>32.99</strike>
                                        	    <span class="text-color">28.99</span> PLN
                                            </p>
                                	    </div>            	    
                                	</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="glide__arrows" data-glide-el="controls">
    	                    <button class="glide__arrow glide__arrow--left icon-arrow-left" data-glide-dir="|<"></button>				                    
    	                    <button class="glide__arrow glide__arrow--right icon-arrow-right" data-glide-dir="|>"></button>
    	                </div>
                    </div>
            	</div>    	
        	</div>
        </div>
