
                        <ul class="c-product__colors">
                            <li>
                                <input type="radio" name="color" checked id="color-1">
                                <label for="color-1">
                                    <img src=<%= require("./img/photos/products/70x70/t-shirt-01.jpg") %> alt="" width="70" height="70">
                                </label>
                            </li>
                            
                            <li>
                                <input type="radio" name="color" id="color-2">
                                <label for="color-2">
                                    <img src=<%= require("./img/photos/products/70x70/t-shirt-01--black.jpg") %> alt="" width="70" height="70">
                                </label>
                            </li>
                            
                            <li>
                                <input type="radio" name="color" id="color-3">
                                <label for="color-3">
                                    <img src=<%= require("./img/photos/products/70x70/t-shirt-01--blue.jpg") %> alt="" width="70" height="70">
                                </label>
                            </li>
                            
                            <li>
                                <input type="radio" name="color" id="color-4">
                                <label for="color-4">
                                    <img src=<%= require("./img/photos/products/70x70/t-shirt-01--yellow.jpg") %> alt="" width="70" height="70">
                                </label>
                            </li>
                            
                            <li>
                                <input type="radio" name="color" id="color-5">
                                <label for="color-5">
                                    <img src=<%= require("./img/photos/products/70x70/t-shirt-01--red.jpg") %> alt="" width="70" height="70">
                                </label>
                            </li>
                        </ul>
