
                        <div class="c-sales">  
                            
                            <header class="o-header">
                            	<h2>Sales</h2>
                        	</header>
                            
                            <div class="glide" id="salesCarousel">
                                <div class="glide__track" data-glide-el="track">
                    
                                    <ul class="glide__slides">
                                        <li class="glide__slide">
                                                   
                                            <div class="c-sales__item">
                                                <a href="product-details.html" class="o-box u-primarycolor--cap">
                                            	    <div class="picture">
                                            	        <img src=<%= require("./img/photos/products/120x120/cap-01.jpg") %> alt="" width="120" height="120">
                                            	        
                                            	        <div class="o-box__more bg-color">
                                                    	    <p>see details</p>
                                                	    </div>
                                            	    </div>
                                            	    
                                            	    <div class="o-box__info">
                                                	    <p class="category">Unisex lifestyle</p>
                    
                                                	    <p class="name">T-Shirt Swith</p>
                    
                                                	    <div class="o-box__row">
                                                    	    <div>
                                                        	    <p class="description">White - 12 colors</p>
                                                    	    </div>
                                                    	    <p class="price">
                                                                <strike>32.99</strike>
                                                        	    <span class="text-color">28.99</span> PLN
                                                            </p>
                                                	    </div>
                                            	    </div>
                                            	</a>
                                            	
                                            	<a href="product-details.html" class="o-box u-primarycolor--tshirt">
                                            	    <div class="picture">
                                            	        <img src=<%= require("./img/photos/products/120x120/t-shirt-04.jpg") %> alt="" width="120" height="120">
                                            	        
                                            	        <div class="o-box__more bg-color">
                                                    	    <p>see details</p>
                                                	    </div>
                                            	    </div>
                                            	    
                                            	    <div class="o-box__info">
                                                	    <p class="category">Unisex lifestyle</p>
                    
                                                	    <p class="name">T-Shirt Swith</p>
                    
                                                	    <div class="o-box__row">
                                                    	    <div>
                                                        	    <p class="description">White - 12 colors</p>
                                                    	    </div>
                                                    	    <p class="price">
                                                                <strike>32.99</strike>
                                                        	    <span class="text-color">28.99</span> PLN
                                                            </p>
                                                	    </div>
                                            	    </div>
                                            	</a>
                                            	
                                            	<a href="product-details.html" class="o-box u-primarycolor--cap">
                                            	    <div class="picture">
                                            	        <img src=<%= require("./img/photos/products/120x120/t-shirt-08.jpg") %> alt="" width="120" height="120">
                                            	        
                                            	        <div class="o-box__more bg-color">
                                                    	    <p>see details</p>
                                                	    </div>
                                            	    </div>
                                            	    
                                            	    <div class="o-box__info">
                                                	    <p class="category">Unisex lifestyle</p>
                    
                                                	    <p class="name">T-Shirt Swith</p>
                    
                                                	    <div class="o-box__row">
                                                    	    <div>
                                                        	    <p class="description">White - 12 colors</p>
                                                    	    </div>
                                                    	    <p class="price">
                                                                <strike>32.99</strike>
                                                        	    <span class="text-color">28.99</span> PLN
                                                            </p>
                                                	    </div>
                                            	    </div>
                                            	</a>
                                            	
                                            	<a href="product-details.html" class="o-box u-primarycolor--cap">
                                            	    <div class="picture">
                                            	        <img src=<%= require("./img/photos/products/120x120/cap-03.jpg") %> alt="" width="120" height="120">
                                            	        
                                            	        <div class="o-box__more bg-color">
                                                    	    <p>see details</p>
                                                	    </div>
                                            	    </div>
                                            	    
                                            	    <div class="o-box__info">
                                                	    <p class="category">Unisex lifestyle</p>
                    
                                                	    <p class="name">T-Shirt Swith</p>
                    
                                                	    <div class="o-box__row">
                                                    	    <div>
                                                        	    <p class="description">White - 12 colors</p>
                                                    	    </div>
                                                    	    <p class="price">
                                                                <strike>32.99</strike>
                                                        	    <span class="text-color">28.99</span> PLN
                                                            </p>
                                                	    </div>
                                            	    </div>
                                            	</a>
                                            </div>
                                        </li>
                                        
                                        <li class="glide__slide">
                                                   
                                            <div class="c-sales__item">
                                                <a href="product-details.html" class="o-box u-primarycolor--cap">
                                            	    <div class="picture">
                                            	        <img src=<%= require("./img/photos/products/120x120/cap-01.jpg") %> alt="" width="120" height="120">
                                            	        
                                            	        <div class="o-box__more bg-color">
                                                    	    <p>see details</p>
                                                	    </div>
                                            	    </div>
                                            	    
                                            	    <div class="o-box__info">
                                                	    <p class="category">Unisex lifestyle</p>
                    
                                                	    <p class="name">T-Shirt Swith</p>
                    
                                                	    <div class="o-box__row">
                                                    	    <div>
                                                        	    <p class="description">White - 12 colors</p>
                                                    	    </div>
                                                    	    <p class="price">
                                                                <strike>32.99</strike>
                                                        	    <span class="text-color">28.99</span> PLN
                                                            </p>
                                                	    </div>
                                            	    </div>
                                            	</a>
                                            	
                                            	<a href="product-details.html" class="o-box u-primarycolor--tshirt">
                                            	    <div class="picture">
                                            	        <img src=<%= require("./img/photos/products/120x120/t-shirt-04.jpg") %> alt="" width="120" height="120">
                                            	        
                                            	        <div class="o-box__more bg-color">
                                                    	    <p>see details</p>
                                                	    </div>
                                            	    </div>
                                            	    
                                            	    <div class="o-box__info">
                                                	    <p class="category">Unisex lifestyle</p>
                    
                                                	    <p class="name">T-Shirt Swith</p>
                    
                                                	    <div class="o-box__row">
                                                    	    <div>
                                                        	    <p class="description">White - 12 colors</p>
                                                    	    </div>
                                                    	    <p class="price">
                                                                <strike>32.99</strike>
                                                        	    <span class="text-color">28.99</span> PLN
                                                            </p>
                                                	    </div>
                                            	    </div>
                                            	</a>
                                            	
                                            	<a href="product-details.html" class="o-box u-primarycolor--cap">
                                            	    <div class="picture">
                                            	        <img src=<%= require("./img/photos/products/120x120/t-shirt-08.jpg") %> alt="" width="120" height="120">
                                            	        
                                            	        <div class="o-box__more bg-color">
                                                    	    <p>see details</p>
                                                	    </div>
                                            	    </div>
                                            	    
                                            	    <div class="o-box__info">
                                                	    <p class="category">Unisex lifestyle</p>
                    
                                                	    <p class="name">T-Shirt Swith</p>
                    
                                                	    <div class="o-box__row">
                                                    	    <div>
                                                        	    <p class="description">White - 12 colors</p>
                                                    	    </div>
                                                    	    <p class="price">
                                                                <strike>32.99</strike>
                                                        	    <span class="text-color">28.99</span> PLN
                                                            </p>
                                                	    </div>
                                            	    </div>
                                            	</a>
                                            	
                                            	<a href="product-details.html" class="o-box u-primarycolor--cap">
                                            	    <div class="picture">
                                            	        <img src=<%= require("./img/photos/products/120x120/cap-03.jpg") %> alt="" width="120" height="120">
                                            	        
                                            	        <div class="o-box__more bg-color">
                                                    	    <p>see details</p>
                                                	    </div>
                                            	    </div>
                                            	    
                                            	    <div class="o-box__info">
                                                	    <p class="category">Unisex lifestyle</p>
                    
                                                	    <p class="name">T-Shirt Swith</p>
                    
                                                	    <div class="o-box__row">
                                                    	    <div>
                                                        	    <p class="description">White - 12 colors</p>
                                                    	    </div>
                                                    	    <p class="price">
                                                                <strike>32.99</strike>
                                                        	    <span class="text-color">28.99</span> PLN
                                                            </p>
                                                	    </div>
                                            	    </div>
                                            	</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="glide__arrows" data-glide-el="controls">
            	                    <button class="glide__arrow glide__arrow--left icon-arrow-left" data-glide-dir="|<"></button>				                    
            	                    <button class="glide__arrow glide__arrow--right icon-arrow-right" data-glide-dir="|>"></button>
            	                </div>
                            </div>
                        </div>
