<% include ./src/includes/head %>
<body>

    <% include ./src/includes/top %>

    <div class="c-products">
        <div class="o-wrap">
            <div class="c-breadcrumbs">
                <ul>
                    <li>
                        <a href="index.html">Home page</a>
                    </li>
                    <li>
                        <span>Caps</span>
                    </li>
                </ul>
            </div>
            
            <header class="o-header">
                <h2 class="o-lead o-lead--first">Caps — <span class="active-filters"><span>Man</span> <span>Blue</span> <span>Clasic</span></span></h2>
                
                <div class="c-filters">
                    <ul>
                        <li>
                            <span class="c-filters__item">Gender <i class="icon-close"></i></span>
                        </li>
                        
                        <li>
                            <span class="c-filters__item">Color <i class="icon-close"></i></span>
                        </li>
                        
                        <li>
                            <span class="c-filters__item">Collections <i class="icon-close"></i></span>
                        </li>
                        
                        <li>
                            <span class="c-filters__item">Price <i class="icon-arrow-down"></i></span>
                        </li>
                        
                        <li>
                            <a href="#" class="o-btn o-btn--small o-btn--grayoutline">Clear all</a>
                        </li>
                    </ul>
                </div>
            </header>
            
            
            
            <h4 class="o-lead o-lead--fourth">Products 472</h4>
            
            <div class="c-products__title">
                <h1 class="page-title">Caps</h1>
            </div>
            
            <div class="c-grid">
                <div class="c-grid__item u-primarycolor--cap anim anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-01.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                <div class="c-grid__item u-primarycolor--cap anim anim--delay1 anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-02.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                <div class="c-grid__item u-primarycolor--cap anim anim--delay2 anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-03.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                
                
                <div class="c-grid__item u-primarycolor--cap anim anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-04.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                <div class="c-grid__item u-primarycolor--cap anim anim--delay1 anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-05.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                <div class="c-grid__item u-primarycolor--cap anim anim--delay2 anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-06.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                
                
                <div class="c-grid__item u-primarycolor--cap anim anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-07.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                <div class="c-grid__item u-primarycolor--cap anim anim--delay1 anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-08.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                <div class="c-grid__item u-primarycolor--cap anim anim--delay2 anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-09.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>


                
                <div class="c-grid__item u-primarycolor--cap anim anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-01.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                <div class="c-grid__item u-primarycolor--cap anim anim--delay1 anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-02.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                <div class="c-grid__item u-primarycolor--cap anim anim--delay2 anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-03.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                
                
                <div class="c-grid__item u-primarycolor--cap anim anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-04.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                <div class="c-grid__item u-primarycolor--cap anim anim--delay1 anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-05.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
                
                <div class="c-grid__item u-primarycolor--cap anim anim--delay2 anim--up">
                    <a href="product-details.html" class="o-box o-box--big">
                	    <div class="picture">
                	        <div class="o-sticker o-sticker--big">
                    	        <i class="icon-heart"></i>
                	        </div>
                	        <img src=<%= require("./img/photos/products/600x600/cap-06.jpg") %> alt="" width="600" height="600">
                	        
                	        <div class="o-box__more bg-color">
                        	    <p>see details</p>
                    	    </div>
                	    </div>
                	    
                	    <div class="o-box__row">
                    	    <p class="name">Baseball Motors Racing Cap</p>
                    	    <p class="category">Unisex lifestyle</p>
                	    </div>
    
                	    <div class="o-box__row">
                    	    <div>
                        	    <p class="description">JB Grey - 8 colors</p>
                    	    </div>
                    	    <p class="price">
                                <strike>32.99</strike>
                        	    <span class="text-color">28.99</span> PLN
                            </p>
                	    </div>            	    
                	</a>
                </div>
            </div>
            
            
            
             <% include ./src/includes/pagination %>

            
        </div>
    </div>


    <% include ./src/includes/banners %>
    <% include ./src/includes/salesdesign %>
    <% include ./src/includes/payhelp %>
    <% include ./src/includes/footer %>


</body>
</html>


